body, html {
    height: 100%
}

body {
    background-image: url('/images/cuttingboard.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.recipeBarn {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.459);
    padding-bottom: 2em;
    margin: 0 10em;
    border-radius: 10px;
    color: rgb(238, 230, 210);
    font-family: 'Poppins', sans-serif;
}

.recipeBarn button {
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.753);
    color: white;
    border: none;
    border-radius: 10px;
}

.recipeBarn button:hover {
    background: olivedrab;
}

.recipeBarn h1 {
    font-size: 35px;
    border: solid 4px goldenrod;
    box-shadow: black 1.5px 1.5px;
    border-radius: 100px;
    padding: .5em;
    color: goldenrod;
    text-shadow: 2px 2px black;
}

.recipeBarn p {
    font-size: 20px;
    padding-bottom: 30px;
    color: goldenrod;
    text-shadow: 2px 2px black;
}

.entree {
    margin-right: 3em;
    width: 25%;
    font-size: 20px;
    text-shadow: 2px 2px black;
}

.pig {
    padding-top: 1.5em;
}

.options {
    display : flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    width: 70%;
    margin-left: 4em;
}

.checkboxArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
    margin-bottom: 3em;
    width: 30%;
    background-color: #eeee;
    color: black;
    text-align: center;
}

.cards h3 {
    font-size: 18px;
    word-wrap: normal;
}

.cards img {
    width: 290px;
    border-radius: 4px;
}

.multiplier button{
    margin-right: 4px;
}

#resultsSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 3em;
}

#submission {
    width: 10%;
}

/* Miguel's Code STARTS HERE: */

header {
    padding: 15px 60px;
    display: flex;
    justify-content: space-between;
}

.menu {
    width: 42%;
    float: right;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.menu li{
    width: 100px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: whitesmoke;
    font-size: 13px;
    background-color: rgba(0, 0, 0, 0.459);
} 

.menu li:hover {
    background: olivedrab;
}

.menu li:hover a{
    color: 000; 
}

.menu li a{
    text-decoration: none;
    font-family: baloo;
    color:#fff;
    text-transform: uppercase;
}

.logo{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
}