.banner-area {
    background-image: url('/images/cuttingboard.jpg');
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    height: 100vh;

}

body{
    margin: 0;
    padding:0;
}

header{
    padding: 15px 60px;
}

.menu {
    display: none;
    width: 42%;
    float: right;
    list-style: none;
}

.menu li{
    width: 100px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: whitesmoke;
    font-size: 13px;
    float: left;
    background-color: rgba(0, 0, 0, 0.459);
} 

.menu li:hover {
    background: olivedrab;
}

.menu li:hover a{
    color: 000; 
}

.menu li a{
    text-decoration: none;
    font-family: baloo;
    color:#fff;
    text-transform: uppercase;
}

.logo{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 0;
    width: 20%;
    float: left;
}

.banner-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: whitesmoke;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.459);
    padding: 25px;


}

.banner-text h2{
    font-family: monospace;
    margin: 0;
    font-size: 55px;
    color: goldenrod;
    padding: 1%;
    text-decoration: underline;
    text-shadow: 2px 2px black;
}

.banner-text p{
    font-size: 25px;
    margin: 0;
    font-family: monospace;
    padding: 6%;
    color: goldenrod;
    text-shadow: 2px 2px black;
}

.banner-text a{
    text-decoration: none;
    border: 1px solid rgba(218, 165, 32, 0.425);
    border-width: 2px;
    font-size: 17px;
    padding: 10px 35px;
    color: whitesmoke;
    display: inline-block;
    margin-top: 5%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    text-shadow: 2px 2px black;
}

.banner-text a:hover{
    border-color: goldenrod;
    background: olivedrab;
    transition: .9s;
    color: whitesmoke;
}

.slicknav_menu {
    display: none;
}

@media all and (max-width: 769px){
    .slicknav_menu{
        display: block;
        width: 40%;
        position: absolute;
        background: transparent;
        color: #fff;
        top: 0;
        right: 0;
    }
}

@media screen and (min-width: 770px) {
    .menu {
        display: block;
    }
}

.slicknav_btn {
    margin: 10px 5px 6px;
    text-decoration: none;
    border-radius: 5px;
    background-color: olivedrab;
    float: right right;

}

.slicknav_menu .slickname_menutxt{
    color: #000;
    text-shadow: none;
}

.slicknav_menu .slickname_icon-bar{
    background-color: olivedrab;
    box-shadow: none;
}

.banner-text{
    top: 55%;
}

header{
    padding: 5px 10px;
}

.banner-text h2{
    font-size: 35px;
}
    

.banner-text p{
    font-size: 20px;
}

.banner-text a{
    font-size: 20px;
    padding: 10px 5px;
}

.logo{
    font-size:20px;
}

li:hover{
    background: olivedrab;
}

.slicknav-nav li:hover a{
    color: olivedrab;
}