html {
  box-sizing: border-box;
}

body {
  /* background-image: url("/images/image.png"); */
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.about-section {
  color: goldenrod;
  border: solid 4px goldenrod;
  box-shadow: black 1.5px 1.5px;
}


*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.about-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.459);
  padding-bottom: 2em;
  margin: 0 4.5em;
  border-radius: 10px;
  /* opacity: 1; */
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
  text-align: center;
  border-radius: 20%;
  background-color: whitesmoke;
  opacity: .8;
}

.about-section {
  padding: 50px;
  text-align: center;
  /* background-color: #474e5d; */
  color: white;
}

.about-text {
  color: black;
}

.container {
  padding: 0 16px;
  /* border-radius: 50%; */
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
  /* border-radius: 50%; */
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* .avatar {
  vertical-align: middle;
  width: 50px;
  height: 50 px;
  border-radius: 50%;
} */

.img-round {
  border-radius: 50%;
}

.git-icon {
  width: 50px;
  height: 50px;
}

.shire {
  float: left;
  width: 300px;
  padding: 0px;
  border-radius: 10%;
  border: black solid 3px;
}

.right {
  float: right;
}


/* Miguel's Code STARTS HERE: */

header {
  padding: 15px 60px;
  display: flex;
  justify-content: space-between;
}

.menu {
  width: 42%;
  float: right;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.menu li {
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: whitesmoke;
  font-size: 13px;
  background-color: rgba(0, 0, 0, 0.459);
}

.menu li:hover {
  background: olivedrab;
}

.menu li:hover a {
  color: 000;
}

.menu li a {
  text-decoration: none;
  font-family: baloo;
  color: #fff;
  text-transform: uppercase;
}

.logo {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  float: left;
}